@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

.about-container{
  padding: 80px;
}

.purple-bg {
  background-color: #c099f5; 
}

.purple-text{
  color:hsla(309.47,52.29%,21.37%,1);
  font-weight: 500;
  font-size: 1.2rem;
}

.light-purple-bg {
  background-color: #c9b2ea;
}

.red-text{
  color: rgb(109, 22, 22);
  font-weight: 500;
  font-size: 1.2rem;
}

.climate-crisis-font {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}

/* Navbar transparent fix */
.navbar {
  background-color: transparent !important;
}

/* Text white for navbar */
.navbar .nav-link, .navbar .navbar-brand {
  color: white !important;
}

section {
    scroll-margin-top: 40px;
}