@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

.about-container{
  padding: 80px;
}

.purple-bg {
  background-color: #c099f5; 
}

.purple-bg-dark {
  background-color: #bba3d3; 
}

.purple-text{
  color:hsla(309.47,52.29%,21.37%,1);
  font-weight: 500;
  font-size: 1.2rem;
}

.light-purple-bg {
  background-color: #c9b2ea;
}

.red-text{
  color: rgb(109, 22, 22);
  font-weight: 500;
  font-size: 1.2rem;
}

.climate-crisis-font {
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
}

.road-rage-regular {
  font-family: "Road Rage", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
}

.navbar {
  background-color: transparent !important;
}

.navbar .nav-link, .navbar .navbar-brand {
  color: white !important;
}

section {
    scroll-margin-top: 40px;
}

.main-image{ 
  margin: 0 auto;
}

.center-text {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}